.videoSidebar{
    position: absolute;
    top: 35%;
    right: 10px;
    color: white;
}

.videoSidebar__button {
padding: 18px;
text-align: center;
}
.videoSidebar__button p{
    margin: 0px !important;
}
.videoSidebar__button FavoriteIcon{
    color: red !important;
}