html{
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videos{
  position: relative;
  height: 600px;
  width: 80%;
  max-width: 350px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide Scroll Bar for Chrome */
.app__videos::-webkit-scrollbar{
  display: none;
}

/* Hide Scroll bar for IE, Edge, and Firefox */
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}